{% extends 'Scheduler/layout.html' %}

{% block title %}TA Scheduler{% endblock %}

{% block body %}
    <div class="container-fluid min-vh-100" xmlns="http://www.w3.org/1999/html">
        <div class="row"></div>
        <div class ="container-md g-6">
            <table class = "table table-striped">
                <thead class = "thead">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Address</th>
                    </tr>
                </thead>
                {% for i in userList %}
                    <div class="table">
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td><a class = "tableRow" href="userPage">{{ i.first_name }}</a></td>
                            <td><a class = "tableRow" href="userPage">{{ i.last_name }}</a></td>
                            <td><a class = "tableRow" href="userPage">{{ i.email }}</a></td>
                            <td><a class = "tableRow" href="userPage">{{ i.phone }}</a></td>
                            <td><a class = "tableRow" href="userPage">{{ i.address }}</a></td>
                        </tr>
                    </div>
                {% endfor %}
            </table>
        </div>
        <div class="row"></div>
    </div>
{% endblock %}