{% extends 'Scheduler/layout.html' %}

{% block title %}TA Scheduler{% endblock %}

{% block body %}
    <div class="container-fluid g-6" id="home-container">
        <div class="row justify-content-md-center gy-5">
            <div class="col-auto">
                <a href="" class="btn btn-home-lg"> View All Courses</a>
            </div>
            <div class="col-auto">
                <a href="" class="btn btn-home-lg"> View All Users</a>
            </div>
            <div class="col-auto">
                <a href="" class="btn btn-home-lg"> View Notifications</a>
            </div>
        </div>
        <div class="row justify-content-md-center gy-5">
            <div class="col-auto">
                <a href="" class="btn btn-home-sm"> Create New Course</a>
            </div>
            <div class="col-auto">
                <a href="" class="btn btn-home-sm"> Create New User</a>
            </div>
            <div class="col-auto">
                <a href="" class="btn btn-home-sm"> Edit Personal Info</a>
            </div>
        </div>

    </div>

{% endblock %}