{% extends 'Scheduler/layout.html' %}

{% block title %}TA Scheduler{% endblock %}

{% block body %}
    <div class="container-xl">
        <div class="row">
            <div class="col">
                <a href="" class="btn-home-lg"> View All Courses</a>
            </div>
            <div class="col">
                <a href="" class="btn-home-lg"> View All Users</a>
            </div>
            <div class="col">
                <a href="" class="btn-home-lg"> View Notifications</a>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <a href="" class="btn-home-sm"> Create New Course</a>
            </div>
            <div class="col">
                <a href="" class="btn-home-sm"> Create New User</a>
            </div>
            <div class="col">
                <a href="" class="btn-home-sm"> Edit Personal Info</a>
            </div>
        </div>

    </div>

{% endblock %}