<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>We Are Groot Scheduler</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <header class="header">
        <nav class="navbar navbar-style">
            <div class="container">
                <div class="navbar-header" >
                    <h1> W.A.G.S.</h1>
                    <p> We Are Groot Scheduler</p>
                </div>
            </div>
        </nav>

        <div class="container-lg">
            <h1 class="bigtext"> Home </h1>
            <div style="display: grid">
                <table class="HomeTable">
                    <tr>
                        <td>
                            <a class="btn home-btn-1" href="#"> View All Classes </a>
                        </td>
                        <td class="log-dataRow1"></td>
                        <td>
                            <a class="btn home-btn-2" href="#"> View All Users </a>
                        </td>
                        <td class="log-dataRow1"></td>
                        <td>
                            <a class="btn home-btn-3" href="#"> Send Notifications </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="btn home-btn-4" href="#"> Create New Class </a>
                        </td>
                        <td class="log-dataRow1"></td>
                        <td>
                            <a class="btn home-btn-5" href="#"> Create New User </a>
                        </td>
                        <td class="log-dataRow1"></td>
                        <td>
                            <a class="btn home-btn-6" href="#"> Edit Personal Info </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="btn home-btn-7" href="#"> Create New Sections </a>
                        </td>
                    </tr>
                </table>
            </div>

        </div>




    </header>

</body>
</html>